.container-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 5px;
    margin-bottom: 30px;
    grid-gap: 23px;
    
    
    img {
        width:300px;
        height: 120px;
        border-radius: 2px;
        margin-top: 42px;
    }
}
.content {
    border: solid 2px;
    border-color: #d6d6d6;
    background-color: #ffff;
    border-radius: 3px;
    text-align: center;
    height: 331px;
    font-family: 'Poppins', sans-serif;
    h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        line-height: 1.35;
        margin-bottom: .5rem;
        color: #212529;
        font-size: 1.375rem;
        font-style: italic;
    }
    p {
        text-align: center;
        text-decoration: rgba(144, 144, 144, 0.25);
        margin-bottom: 3rem!important;
        font-size: 15px;
        margin-top: 0;
        box-sizing: border-box;
        vertical-align: baseline;
        color: lightslategray;
    }
}